@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap');

/*RESET*/
a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style : none;
}
/*FIN RESET*/

/*STYLE GENERAL*/
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: content-box;
    font-family: 'Cabin', sans-serif;
}

.background-beige {
    background: hsl(60, 56%, 91%);
}

.flux {
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    font-family: 'lobster';
    font-size: 3rem;
    color: rgb(59, 59, 59);
}

h2 {     
    font-family: 'Alegreya Sans', sans-serif;
    text-shadow: 1px 1px 1px black;
    color: white;
    font-size: 11rem;
    box-sizing: content-box;
    position: relative;
    z-index: 2;
    padding: 70px 0 0 30px;
}

h3 {
    text-align: center;
    color: rgb(65, 123, 173);
    font-family: 'lobster';
    font-size: 5rem;
    margin-bottom: 40px;
}

p {
    text-align: justify;
    font-size: 2.5rem;
}

.ToUppercase {
    text-transform: uppercase;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.object-fit {
    object-fit: cover;
}

.align-items-center {
    align-items: center;
}

.absolute {
    position: absolute;
}

.colorWhite {
    color: hsl(0, 0%, 100%);
}

/*END STYLE GENERAL*/

/*START HEADER*/

header {
    justify-content: space-around;
    padding-top: 10px;
    color: hsl(0, 0%, 0%);
}

header img {
    width: 150px;
    height: 200px;
}

.list-link {
    gap: 40px;
}

.nav-link {
    font-weight: bold;
    font-size: 1.1em;
}

.nav-link:last-child a {
    background: hsl(29, 80%, 62%);
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: bold;
}

/*END HEADER*/


/*START COVER*/
.cover {
    position: relative;
    height: 90vh;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.cover img {
    z-index: 1;
    width: 100%;
    height: 100%;
    object-position: left;
}

.bottom-cover {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.button_discover {
    z-index: 2;
    background: hsl(208, 45%, 47%);
    padding: 20px 45px;
    border-radius: 50px;
    font-size: 4rem;
    font-weight: bold;
}

/* END COVER*/

/* START INTRODUCTION*/
.introduction {
    background: hsl(0, 0%, 99%);
    padding: 50px 0 50px 0;
}

.introduction .flux p {
    margin-bottom: 50px;
}

.key-i + p {
    margin-top: 50px;
}

.key-i {
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(59, 59, 59);
    padding: 60px 50px 50px 50px;
}

.key-i-container {
    width: 100%;
    max-width: 50%;
    text-align: center;
}

.key-logo {
    font-size: 7rem;
    color: hsl(208, 45%, 47%);
}

.key-text {
    text-align: center;
    font-size: 2.5rem;
}
/*END INTRODUCTION*/
/* START CONTENT*/

/*START ARTICLE*/
/*START ARTICLE BALADE*/
.Walk-Dog {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    height: auto;
}

.picture {
    width: 800px;
    margin-bottom: 40px;
    border-radius: 50px;
}

.button {
    background-color: hsl(208, 45%, 47%);
    border-radius: 50%;
    padding: 20px 20px;
}

.container-share-like {
    width: 80%;
    justify-content: space-between;
}

.container-share-like img {
    transition: transform 0.5s ease;
}

.container-share-like img:hover {
    transform: scale(1.2, 1.2)
}
/*END ARTICLE : BALADE*/

/*START ARTICLE : DRESSAGE*/
.article-taming {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 50px;
    width: 100%;
    height: auto;
}

.container-images img {
    object-fit: contain;
    height: 254px;
    width: 371px;
    border-radius: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.taming-text:hover {
    opacity: 0.8;
}

.taming-text {
    font-size: 50px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.seat {
    padding: 95px;
    margin-left: 25px;
}

.lie-down {
    padding: 85px;
    margin-top: 10px;
}

.dont-touch {
    padding: 37px;
    margin-top: 60px;
    height: 192px;
}

.do-a-trick {
    padding: 37px;
    margin-top: 56px;
    height: 194px;
}
/*END ARTICLE DRESSAGE*/
/*END SECTION ARTICLE*/

/*START SECTION SE MOBILISE*/
.Mobilize {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 50px 0 50px 0;
    background: hsl(0, 0%, 100%);
}

.Mobilize p {
    font-size: 3rem;
}
/*END SECTION SE MOBILISE*/

/*START FOOTER*/
footer {
    flex-direction: column;
    min-height: 500px;
    width: 100%;
    background: hsl(0, 0%, 23%);
}

.social-media {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 340px;
    font-size: 5rem;
    color: rgb(59, 59, 59);
}

.social-media i {
    padding-right: 10px;
}

.social-media p {
    font-size: 4rem;
    padding: 0 0 20px 0;
}

.mid-foot ul {
    justify-content: space-evenly;
    width: 100%;
    font-size: 1.7rem;
}

.bottom {
    align-self: center;
    padding-top: 45px;
    font-size: 1.7rem;
}
/*END FOOTER*/


/* START RESPONSIVE TITLE*/
@media screen and (min-width:1227px) {
    .title h2 {
        font-size: 10rem;
    }
}

@media screen and (min-width:1488px) {
    .title h2 {
        font-size: 12rem;
    }
}

@media screen and (min-width:1780px) {
    .title h2 {
        font-size: 15rem;
    }
    .button_discover {
        padding: 25px 65px;
        border-radius: 76px;
        font-size: 6rem;
    }
}

@media screen and (min-width:2217px) {
    .title h2 {
        font-size: 18rem;
        padding: 0 0 0 30px;
    }
}
/*END RESPONSIVE TITLE*/


@media screen and (min-width:1140px) {
    .container-share-like {
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1200px) {
    .cover img {
        object-position: center;
    }
    .key-i {
        margin: 0 150px 0 150px;
        padding: 60px 50px 75px 50px;
    }
    .nav-link {
        font-size: 1.5rem;
    }
}
/*------------------------------------*/

@media screen and (min-width: 1633px) {
    header img {
        width: 180px;
        height: 250px;
    }

    h1 {
        font-size: 6rem;
    }

    .button_discover {
        padding: 25px 50px;
        border-radius: 65px;
        font-size: 5rem;
    }

    .introduction {
        margin : 0 50px 0 50px;
    }

    .introduction p {
        text-align: center;
    }

    .article {
        margin : 0 90px 0 90px;
    }

    .Mobilize h3 {
        width: 100%;
    }

    .Mobilize {
        height: 75vh;
        flex-direction: row;
        margin: 50px;
        padding: 0;
    }

    .Mobilize p {
        width: 40%;
        margin-right: 0;
    }

}
/*------------------------------------*/

@media screen and (min-width: 2002px) {
    .nav-link {
        font-size: 2rem;
    }
    h3 {
        font-size: 7rem;
    }
    .introduction {
        margin: 0 75px 0 75px;
    }
    .article {
        margin: 0 120px 0 120px;
    }
    .Mobilize {
        height: 50vh;
    }
    .picture {
        width: 950px;
    }
}